# Ignore .env file
.env

# Ignore config.json file
config.json





{
 "agenda": "Attend Ethindia Hackathon",
  "mode": "offline",
  "location": "Bangalore",
  "description": "Sanjay is going to attend Ethindia Hackathon world's biggest ethereum hackathon",
  "date": "2024-01-26",
  "time": "18:00"
  
 
}
node_modules
