# Ignore .env file
.env

# Ignore config.json file
config.json






"agenda": "Nothing but testing",
  "mode": "offline",
  "location": "chennai",
  "description": "Sanjay is having meet with elon musk",
  "date": "2024-01-26",
  "time": "18:00"